---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>The Game Plan</h1>
    <h3>Some bullets on how I plan to get employment:</h3>
    <ul>
      <li>Study Astro until I am feeling decent about making a website</li>
      <li>Study Javascript</li>
      <li>Make a website for ecommerce</li>
      <li>Take time to think of projects to do and work on</li>
    </ul>
  </body>
</html>
